asgiref==3.4.1
backcall==0.2.0
decorator==5.1.0
Django==3.2.10
ipython==7.16.2
ipython-genutils==0.2.0
jedi==0.17.2
mysqlclient==2.1.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.23
ptyprocess==0.7.0
Pygments==2.10.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
traitlets==4.3.3
typing-extensions==4.0.1
wcwidth==0.2.5
