{% load client_extras %}

<div class="w-full p-4">
    <div class="relative p-6 bg-gray-50 shadow rounded">
      <h3 class="text-left font-bold text-xl">Cliente: {{ credit.client.full_name }}</h3>
    
      <div class="mt-4 mb-4">
          <p class="flex items-center text-sm">
              <div class="flex items-center">
              <h4 class="text-sm text-gray-500">Prestamo</h4>
            </div>
              <span>${{ credit.authorized_amount }} MXN</span>
          </p>
      </div>
      <div class="mt-4 mb-4">
          <p class="flex items-center text-sm">
              <div class="flex items-center">
              <h4 class="text-sm text-gray-500">Fecha del siguiente cobro</h4>
            </div>
            <span>{{ credit.next_pay_day|date_format }}</span>
          </p>
      </div>
      <div class="mt-4 mb-4">
          <p class="flex items-center text-sm">
              <div class="flex items-center">
              <h4 class="text-sm text-gray-500">Fecha de la siguiente visita</h4>
            </div>
                <span>{{ credit.visit_day_format }} - {{ credit.visit_time_format }}</span>
          </p>
      </div>
  
      <a class="flex items-center justify-center py-2 text-sm text-white bg-indigo-500 hover:bg-indigo-600 rounded transition duration-200" href="{% url 'credits:detail' pk=credit.pk %}">
        <span>Detalles</span>
      </a>
    </div>
  </div>