{% extends 'bases/base.html' %}

{% block content %}
<style>
    #map {
        height: 100%;
    }
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<section class="py-8">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                    <div class="flex items-center">
                        <div>
                        <div class="flex mb-2">
                            <h3 class="text-2xl font-bold">Datos generales del cliente</h3>
                        </div>
                        </div>
                    </div>
                </div>
                {% include 'clients/snippets/prospect.html' with prospect=client.prospect address=client.address customer=client %}
            </div>
            </div>
        </div>
        
        {% if lat and long %}
            <div class="flex flex-wrap -m-4">
                <div class="w-full p-4">
                    <div class="p-6 bg-white shadow rounded">
                        <div class="flex justify-between mb-4">
                            <div class="flex items-center">
                                <div>
                                    <div class="flex mb-2">
                                        <h3 class="text-2xl font-bold">Locacción</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <iframe width="100%" height="400" 
                        src="https://maps.google.com/maps?q={{ lat }}, {{ long }}&z=17&output=embed"
                        frameborder="0" style="border:0">
                        </iframe>

                    </div>
                </div>
            </div>
        {% endif %}

        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
                <div class="p-6 bg-white shadow rounded">
                    <div class="flex justify-between mb-4">
                        <div class="flex items-center">
                            <div>
                            <div class="flex mb-2">
                                <h3 class="text-2xl font-bold">Prestamos</h3>
                            </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="bg-white shadow rounded">
                        {% for credit in credits %}
                            {% include 'credits/snippets/horizontal.html' with credit=credit %}
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<script>
    let map;

    function initMap() {
        const mapOptions = {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 },
        };

        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        const marker = new google.maps.Marker({
            position: { lat: -34.397, lng: 150.644 },
            map: map,
        });
        
       
    }

</script>
{% endblock %}