{% extends 'bases/base.html' %}


{% block content %}
<div class=""> 
    <section class="py-8">
    <div class="container px-1 mx-auto">
        <div class="pt-6 bg-white shadow rounded">
        <div class="px-6 border-b">
            <div class="flex flex-wrap items-center mb-6">
                <h2 class="text-xl font-bold">{{ client.pk }}</h2>
            </div>
        </div>
        <div class="overflow-x-auto">
            <div class="container px-4 mx-auto mt-5">
                <div>
                   
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>

{% endblock %}