{% extends 'bases/base.html' %}

{% block content %}
    
    <div class="form">
        <form method="GET">
            <div class="flex">
                <div class="w-full md:w-11/12 px-4 mb-4">
                    <input type="text" class="block w-full px4 py-3 mb-2 text-sm placeholder-gray-500 bg-white border rounded" placeholder="CURP" name="curp">
                </div>
                <div class="w-full md:w-1/12">
                    <input type="submit" value="Buscar" class="cursor-pointer flex items-center py-2 px-4 bg-indigo-500 hover:bg-indigo-600 text-sm font-medium text-white rounded">
                </div>
            </div>
        </form>
    </div>
    
    <section>
        {% if client %}
            {% include 'clients/snippets/resume.html' with client=client %}
        {% endif %}
    </section>
   
{% endblock %}