{% extends 'bases/base.html' %}

{% block content %}
    <div class=""> 
        <section class="py-8">
        <div class="container px-1 mx-auto">
            <div class="pt-6 bg-white shadow rounded">
            <div class="px-6 border-b">
                <div class="flex flex-wrap items-center mb-6">
                <h3 class="text-xl font-bold">Nuevo credito</h3>
                <a class="ml-auto flex items-center py-2 px-3 text-xs text-white bg-indigo-500 hover:bg-indigo-600 rounded" href="#">
                    <span>Nuevo credito</span>
                </a>
                </div>
            </div>
            <div class="overflow-x-auto">
                
            </div>
            </div>
        </div>
        </section>
    </div>
{% endblock %}