{% extends 'bases/base.html' %}

{% block content %}
<style>
    #map {
        height: 100%;
    }
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<section class="py-8">
    <div class="container px-4 mx-auto">
        
        <div class="flex mb-2 items-center justify-center">
            <a class="items-center py-2 px-3 text-lg text-white bg-blue-500 hover:bg-greemn-600 rounded" href="{% url 'credits:detail' credit.pk %}">
                Detalles
            </a>
            <p class="ml-2 mr-2"> | </p>
            <a href="{% url 'credits:payments' credit.pk %}"  class="items-center py-2 px-3 text-lg text-white bg-blue-500 hover:bg-greemn-600 rounded">
                <span>Pagos</span>
            </a>
        </div>

        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <div>
                    <div class="flex mb-2">
                        <h3 class="text-2xl font-bold">Datos del credito</h3>
                    </div>
                    </div>
                </div>
                </div>
                {% include 'credits/snippets/resume.html' with credit=credit %}
            </div>
            </div>
        </div>

        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <div>
                    <div class="flex mb-2">
                        <h3 class="text-2xl font-bold">Datos generales del cliente</h3>
                    </div>
                    </div>
                </div>
                </div>
                {% include 'clients/snippets/prospect.html' with prospect=client.prospect address=client.address customer=client %}
            </div>
            </div>
        </div>

        <div class="flex flex-wrap -m-4">
        <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                <div>
                    <div class="flex mb-2">
                    <h3 class="text-2xl font-bold">Datos del Aval</h3>
                    </div>
                </div>
                </div>
            </div>
            {% include 'clients/snippets/prospect.html' with prospect=client.aval.prospect address=client.aval.prospect.address %}
            </div>
        </div>
        </div>

        <div class="flex flex-wrap -m-4">
        <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                <div>
                    <div class="flex mb-2">
                    <h3 class="text-2xl font-bold">Referencias</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0">
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
                    {% include 'clients/snippets/reference.html' with reference=client.references.first %}
                </div>
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
                    {% include 'clients/snippets/reference.html' with reference=client.references.last %}
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
                <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                    <div class="flex items-center">
                    <div>
                        <div class="flex mb-2">
                        <h3 class="text-2xl font-bold">Garantias</h3>
                        </div>
                    </div>
                    </div>
                </div>
                <ul>
                    {% for guarantee in client.guarantees.all %}
                    <li>
                        <div class="flex mb-4 justify-between items-center">
                        <p class="text-lg">{{ guarantee.description }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>

        {% if lat and long %}
            <div class="flex flex-wrap -m-4">
                <div class="w-full p-4">
                    <div class="p-6 bg-white shadow rounded">
                    <div class="flex justify-between mb-4">
                        <div class="flex items-center">
                        <div>
                            <div class="flex mb-2">
                            <h3 class="text-2xl font-bold">Locacción</h3>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <iframe width="100%" height="400" 
                    src="https://maps.google.com/maps?q={{ lat }}, {{ long }}&z=17&output=embed"
                    frameborder="0" style="border:0">
                    </iframe>

                </div>
            </div>
        {% endif %}

    </div>
</section>

<script>
    let map;

    function initMap() {
        const mapOptions = {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 },
        };

        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        const marker = new google.maps.Marker({
            position: { lat: -34.397, lng: 150.644 },
            map: map,
        });
        
       
    }

</script>
{% endblock %}