{% extends 'bases/base.html' %}

{% block content %}
<section class="py-8">
    <div class="container px-4 mx-auto">
        
        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <div>
                    <div class="flex mb-2">
                        <h3 class="font-bold">Datos del credito</h3>
                    </div>
                    </div>
                </div>
                </div>
                {% include 'credits/snippets/resume.html' with credit=credit %}
            </div>
            </div>
        </div>

        <div class="flex flex-wrap -m-4">
            <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
                <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <div>
                    <div class="flex mb-2">
                        <h3 class="font-bold">Datos generales del cliente</h3>
                    </div>
                    </div>
                </div>
                </div>
                {% include 'clients/snippets/prospect.html' with prospect=client.prospect address=client.address customer=client %}
            </div>
            </div>
        </div>

        <div class="flex flex-wrap -m-4">
        <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                <div>
                    <div class="flex mb-2">
                    <h3 class="font-bold">Datos del Aval</h3>
                    </div>
                </div>
                </div>
            </div>
            {% include 'clients/snippets/prospect.html' with prospect=client.aval.prospect address=client.aval.prospect.address %}
            </div>
        </div>
        </div>

        <div class="flex flex-wrap -m-4">
        <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                <div>
                    <div class="flex mb-2">
                    <h3 class="font-bold">Referencias</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0">
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
                    {% include 'clients/snippets/reference.html' with reference=client.references.first %}
                </div>
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
                    {% include 'clients/snippets/reference.html' with reference=client.references.last %}
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="flex flex-wrap -m-4">
        <div class="w-full p-4">
            <div class="p-6 bg-white shadow rounded">
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                <div>
                    <div class="flex mb-2">
                    <h3 class="font-bold">Garantias</h3>
                    </div>
                </div>
                </div>
            </div>
            <ul>
                {% for guarantee in client.guarantees.all %}
                <li>
                    <div class="flex mb-4 justify-between items-center">
                    <p class="text-sm">{{ guarantee.description }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        </div>

    </div>
</section>
{% endblock %}