{% extends 'bases/base.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    .row:nth-child(odd) {
        background-color: red;
    } 
      
    .row:nth-child(even) {
        background-color: green;
    }

</style>
{% verbatim %}
    <div id="app">
        <section class="py-8">
            <div class="container px-4 mx-auto">
                <div class="py-4 bg-white rounded">
                <div class="flex px-6 pb-4 border-b mb-5">
                    <h3 class="text-xl font-bold">Listado de creditos</h3>
                    <div class="ml-auto">

                        <label for="datePicker" class="text-lg fond-bold">Día de pago:</label>
                        <input type="date" v-on:change="changeDate($event)" id="datePicker" name="datePicker"  min="2021-01-01" max="2030-12-31" class="ml-10">
                        <!-- 
                            <button class="py-2 px-3 text-xs text-gray-400 font-medium" v-on:click="payDay()">Día de Pago</button>
                            <button class="py-2 px-3 text-xs text-gray-400 font-medium" v-on:click="visitDay()">Día de visita</button>
                            <button class="py-2 px-3 text-xs text-white font-medium bg-indigo-200 rounded-md" v-on:click="loadCredits()">Todos</button>
                        -->
                    </div>
                </div>
                <div class="pt-4 px-4 overflow-x-auto">
                    <table class="table-auto w-full">
                    <thead>
                        <tr class="text-xs text-gray-500 text-left">
                            <th class="font-medium">Folder</th>
                            <th class="font-medium">Fecha de pago</th>
                            <th class="font-medium">Prestamos</th>
                            <th class="font-medium">Actions</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr v-for="folder in folders">
                                <td class="flex py-3">
                                    <a :href="'/carpetas/' + folder.id + '/grupos' " class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">
                                        <div><p class="font-medium"> {{ folder.name }} </p></div>

                                    </a>
                                </td>
                                <td class="font-medium">{{ folder.visit_date }}</td>
                                <td class="font-medium">{{ folder.credits }}</td>
                                <td>
                                    <a :href="'/carpetas/' + folder.id + '/grupos' " class="items-center py-2 px-3 text-xs text-white bg-blue-500 hover:bg-greemn-600 rounded">
                                        <span>Detalles</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </section>
    </div>
{% endverbatim %}
{% endblock %}

{% block javascript %}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            folders: [],
        },

        mounted: function() {
            document.getElementById('datePicker').valueAsDate = new Date();
            this.loadFolders();
        },

        methods: {
            loadFolders: function(){
                this.getCredits('today');
            },

            changeDate: function(event) {
                data = event.target.value;
                this.getCredits(data);
            },

            getCredits: function(query) {
                this.credits = [];
                
                console.log(query)

                axios.get('/creditos/search?q=' + query).then(response => {
                    this.folders = response.data.credits;
                });
            }
        }
    })
</script>
{% endblock %}